html,body{
    padding: 0;
    margin: 0;
    font-size: 14px; 
    overflow-x: hidden;
    font-family: 'Roboto',sans-serif!important;
    }
 .header{
    background-color:#0D5E71 ;
    color: azure;
    text-align: center;
 }
 .main1 img{
    width: 20%;
 }
 .main2 img{
    width: 16%;
    position: absolute;
    top: 115px;
    margin-left: 114px;
   
    
 }
 .main{
    background-color: #0D5E71;
    
 }
 
 
 .main4{
   margin-left: 31%;
    width: 22%;
    position: absolute;
    top: 154px;
    color: wheat;
    box-shadow: 0px 0px 64px;
    padding-left: 1%
 }
 .wish{
   background-color: #0D5E71;
  
 }
 .wish p{
   width: 30%;
   box-shadow: 0px 0px 3px;
   color: wheat;
   margin-left: 17%;
   margin-top: -4%;
 }
 .wish h6{
   width: 32%;
   margin-left: 64%;
    position: absolute;
    top: 713px;
    color: aqua;
 }
 .wish p span{
   color: red;
 }
 .wish2 img{
   width: 17%;
   padding: 17px;
    margin-left: 46%;
    margin-top: -5%;
 }
 .wish h3{
   margin-left: 71%;
    position: absolute;
    top: 860px;
    color: wheat;
 }
 .wish h4{
   padding-left: 79%;
    position: absolute;
    top: 888px;
    color: red;
 }
 

 
 
 

 
 
 